.idea

Minebase.API/bin
Minebase.API/obj
Minebase.API/appsettings.Development.json

Minebase.Domain/bin
Minebase.Domain/obj

Minebase.Data/bin
Minebase.Data/obj
Minebase.Data/Migrations
Minebase.Data/minebase.db
Minebase.Data/minebase.db-shm
Minebase.Data/minebase.db-wal